.Search {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__container {
    position: relative;
    z-index: 2;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &__field {
    border-radius: 2px 2px 0 0;
    input {
      box-shadow: none;
    }
  }

  &__suggestions {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
    background-color: #FFF;

    li {
      padding: 12px;
      border-bottom: 1px solid rgba(black, .04);
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}

.Search--open {
  .Search__field, .Search__suggestions {
    z-index: 1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}